@using System.Drawing
<h3>PrintText</h3>



<button class="btn btn-primary" @onclick="ShowPopUp">Click </button>
@if (Popup)
{
    <div>
  @*      <select class="form-select" aria-label="Default select example">
          

        </select>*@
         <select @onchange="DoStuff">  @*//pre-3.0 versions: onchange=@DoStuff*@
            @foreach (var template in templates)
            {
                <option value=@template>@template</option>
            }
        </select>
        <br>
        <br>
        <button class="btn btn-primary" @onclick="PrintFile">PrintFile </button>

    </div>
}



@code {

      @functions {
        //use @code in razor components.
        List<string> templates = new List<string>() { "A4", "Letter", "Legel"};
        string SelectedString = "A4";

        void DoStuff(ChangeEventArgs e)
        {
            SelectedString = e.Value.ToString();
            // Console.WriteLine("It is definitely: " + SelectedString);
        }
}

    bool Popup = false;
    private void ShowPopUp()
    {
        Popup = true;
    }


    private void PrintFile()
    {
        //PrintDocument pd = new PrintDocument();
        //PaperSize pSize = new PaperSize();
        //if (SelectedString == "A4")
        //    pSize.RawKind = (int)PaperKind.A4;
        //else if (SelectedString == "Letter")
        //    pSize.RawKind = (int)PaperKind.Letter;
        //else
        //    pSize.RawKind = (int)PaperKind.Legal;

        //pd.DefaultPageSettings.PaperSize = pSize;


        //pd.Print();


        string s = "string to print bgkuygfkytfy hguhbu jggulg7u utvikh";

        PrintDocument p = new PrintDocument();
        p.PrintPage += delegate (object sender1, PrintPageEventArgs e1)
        {
            e1.Graphics.DrawString(s, new Font("Times New Roman", 12), new SolidBrush(System.Drawing.Color.Black), new RectangleF(0, 0, p.DefaultPageSettings.PrintableArea.Width, p.DefaultPageSettings.PrintableArea.Height));

        };
        try
        {
            PaperSize pSize = new PaperSize();
            if (SelectedString == "A4")
                pSize.RawKind = (int)PaperKind.A4;
            else if (SelectedString == "Letter")
                pSize.RawKind = (int)PaperKind.Letter;
            else
                pSize.RawKind = (int)PaperKind.Legal;

            p.DefaultPageSettings.PaperSize = pSize;
            p.Print();
        }
        catch (Exception ex)
        {
            throw new Exception("Exception Occured While Printing", ex);
        }
    }
}
